/* CSS style for Acadia Larsen's academic page

Color scheme:
  Dark Green: #3A6351;
  Pale Teal: #5F939A;
  Dull Khaki: #A0937D;
  Bright Khaki: #F2EDD7;

*/

/* Document-wide tags */
body {
  margin: 0;
  font-family: verdana, helvetica, sans-serif;
  font-size: 1rem;
}


/* item details */
.deets {
  margin-top: 0;
  color: #A0937D;
}

.moreDeets {
  font-size: 0.9rem;
}


/* links */
a {
  text-decoration: none;
  color: #5F939A;
}

a:hover {
  color: #3A6351;
  text-decoration: underline;
}


/* navigational menu */
.nav {
  padding-top: 30px;
  background-color: #3A6351;
  padding-bottom: 0;
}

.nav-link {
  color: #F2EDD7;
}

.nav-link:hover {
  background-color: #F2EDD7;
  border-color: #F2EDD7;
  color: #A0937D;
}

.hidden-tab {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hidden-tab {
    display: inline;
  }
}


/* Main content viewer  */
.tab-content {
  margin: 100px auto;
  width: 80%;
}


/* home tab */
.intro {
  margin-top: 0;
}

.profile-pic {
  background-color: #3A6351;
  border-radius: 100%;
  margin: auto 5%;
  max-width: 120px;
  width: 100%;
}

.vCard {
  max-width: 550px;
}

.home-subsection {
  margin-top: 80px;
}

.email {
  font-family: "Lucida Console", "Courier New", monospace;
}

/* research tab */
.research-subsection {
  margin-top: 80px;
}

.research-description {
  margin-top: 50px;
}

.paper-title {
  margin-top: 50px;
}

/* teaching tab */
.teaching-heading {
  margin-top: 50px;
}

/* cv tab */
.pdfLink {
  background-color: #5F939A;
  border-radius: 30px;
  color: #F2EDD7;
  margin-bottom: 60px;
  margin-top: -20px;
  opacity: .80;
}

.pdfLink:hover {
  color: #F2EDD7;
  text-decoration: none;
  opacity: 1;
}

.cv-section {
  margin-top: 60px;
}

.cv-item {
  margin-top: 35px;
}

.backToTop {
  text-align: right;
  font-size: 30px;
  position: fixed;
  bottom:7%;
  right: 7%;
}

.backToTopBtn {
  background-color: #5F939A;
  border-radius: 100%;
  color:  #F2EDD7;
  opacity: .75;
  padding: 5px 10px;
}

.backToTopBtn:hover {
  color:  #F2EDD7;
  opacity: 1;
}

.update-date {
  margin-top: 50px;
  color: #A0937D;
}

/* footer */
footer {
  background-color: #3A6351;
  color: #A0937D;
  padding: 50px 10%;
}
